:host{
  height: 100%;
  width: 100%;
}

.TopRatedMovieSearch_MainContainer{
  height: 100%;
  // overflow: auto;
}

.TopRatedMovieSearch_MovieBasicInfoElemet{
  height: 100 vh;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}
