<div class="TopRatedMovieSearch_MainContainer">
  <div class="TopRatedMovieSearch_MovieBasicInfo">
    <app-lodable-content class="TopRatedMovieSearch_LodableContent"
    [isLoading]="isLoading">
      <div class="TopRatedMovieSearch_MovieBasicInfoElement" *ngFor="let fetchedTopRatedMovie of fetchedTopRatedMovies?.content?.movies">
        <div class="TopRatedMovieSearch_MovieBasicInfoSingleElement">
          <app-movie-basic-info
            [tittle] = "fetchedTopRatedMovie.title"
            [description] = "fetchedTopRatedMovie.overview"
            [base64Image] = "fetchedTopRatedMovie.images.backdropImageToBase64"
            [base64BigImage] = "fetchedTopRatedMovie.images.posterImageToBase64"
          ></app-movie-basic-info>
        </div>
      </div>

    </app-lodable-content>
    <app-paginator *ngIf="fetchedTopRatedMovies?.content"
    [pagesToShow] = "5"
    [numberOfPages] = "fetchedTopRatedMovies.content.total_pages"
    [selectedPage] = "fetchedTopRatedMovies.content.page"
    (pageSelectionEvent)="fetchTopRatedPage($event)"
  ></app-paginator>

  </div>
</div>
