:host {
  width: 100%;
  height: 100%;
}

.mat-menu-item{
  cursor: auto;
}

.Sidenav_MainContainer {
  height: 100% !important;
}

.Sidenav_SubContainer {
  height: 100%;
}
.Sidenav_Content {
  height: 100%;
}
