:host {
    background-color: var(--app-primary-colour);
    width: 100%;
    max-height: 3em;
}
.NavBar_AppName {
    cursor: pointer;
}

.NavBar_MainContainer {
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}

.rightNavBar {
    margin-right: 1%;
}

.centralNavBar {
  margin-top: 1%;
}

.leftNavBar {
    margin-left: 1%;
}

