:host {
    background-color: var(--app-primary-colour);
    color: var(--text-tittle-contrast-colour);
    width: 100%;
    max-height: 3em;
}

.NavBar_MainContainer{
}

.rightNavBar{
    margin-right: 1%;
}

.centralNavBar{
  margin-top: 1%;
}

.leftNavBar{
    margin-left: 1%;
}
