<div class="NavBar_MainContainer" fxLayout="row" fxLayoutAlign="space-around center" fxFlex="100">
    <div class="leftNavBar" fxLayoutAlign="start center" fxFlex="20">
        <app-nav-menu *ngIf="isAuthenticated"></app-nav-menu>
    </div>
    <div class="centralNavBar" fxLayoutAlign="center center" fxFlex="60">
        <h1>RecoMovies</h1>
    </div>
    <div class="rightNavBar" fxLayoutAlign="end center" fxFlex="20">
        <button *ngIf="!isAuthenticated" (click)="goToLoginPage()" mat-raised-button color="primary">Login</button>
    </div>
</div>
