<div class="MovieBasicInfo_MainContainer">
  <div class="MovieBasicInfo_SubContainer">
    <div class="MovieBasicInfo_ImageContainer app-border">
      <img class="MovieBasicInfo_Image" (click)="openImageDialog()" src="{{base64Image}}" alt="{{tittle}}">
    </div>
    <div class="MovieBasicInfo_Content">
      <div class="MovieBasicInfo_ContentContainer">
        <div class="MovieBasicInfo_ContentTitleData app-textHeader">
          {{tittle}}
        </div >
        <div class="MovieBasicInfo_ContentInfo">
          <div class="MovieBasicInfo_ContentExpand">
            <button mat-icon-button>
              <mat-icon class="app-button">expand_more</mat-icon>
            </button>
          </div>
          <div class="MovieBasicInfo_ContentRate">
            <mat-icon class="app-button">star_rate</mat-icon> {{voteAverage}}
          </div>
        </div >
      </div>
    </div>
    <div class="MovieBasicInfo_Actions">
      <div class="MovieBasicInfo_ActionsContainer">
        <div class="MovieBasicInfo_Action">
          <button mat-icon-button>
            <mat-icon class="app-button">bookmark_border</mat-icon>
          </button>
        </div>
        <div class="MovieBasicInfo_Action">
          <button mat-icon-button>
            <mat-icon class="app-button">check_circle_outline</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
