:host{
  height: 7em;
  width: 100%;
}

// hovers
.MovieBasicInfo_MainContainer:hover{
  background-color: var(--app-background-color-hover);
}
.MovieBasicInfo_MainContainer:hover .app-button{
  background-color: var(--app-background-color-hover);
}

.MovieBasicInfo_MainContainer{
  border-radius: 2em;
  border: thin;
  border-style: solid;
}

.MovieBasicInfo_SubContainer{
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-left: 0.5%;
  padding-right: 0.5%;
  height: 100%;
}

.MovieBasicInfo_Image{
  width: fit-content;
  height: fit-content;
  max-width: 200px;
  max-height: 200px;
}

.MovieBasicInfo_ActionsContainer{
  margin-right: 1%;
}

.MovieBasicInfo_ImageContainer{
  margin-left: 1%;
  border-radius: 20%;
  height: 90%;
  width: 90%;
  overflow: hidden;
}

.MovieBasicInfo_Content{
  height: 100%;
  margin-left: 1%;
}

.MovieBasicInfo_ContentContainer{
  height: 100%;
}

.MovieBasicInfo_Actions{
  height: 100%;
  margin-top: 4%;
  margin-bottom: 4%;
}

.MovieBasicInfo_ContentTitleData{
  height: fit-content;
}

.MovieBasicInfo_ContentDescData{
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100%;
}
