<div class="MovieAdvancedInfo_MainContainer">
  <div class="MovieAdvancedInfo_TitleContainer app-textHeader">
    {{data?.title}}
  </div>
  
  <mat-divider class="app-divider"></mat-divider>

  <div class="MovieAdvancedInfo_DataContainer">
    <div class="MovieAdvancedInfo_DataSubContainer">
      <div class="MovieAdvancedInfo_DescriptionContainer app-text-normal">
        {{data?.overview}}
      </div>
      <div class="MovieAdvancedInfo_ActionContainer">
        <div class="MovieAdvancedInfo_Action">
          <button mat-icon-button>
            <mat-icon class="app-button">bookmark_border</mat-icon>
          </button>
        </div>
        <div class="MovieAdvancedInfo_Action">
          <button mat-icon-button>
            <mat-icon class="app-button">check_circle_outline</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <mat-divider class="app-divider"></mat-divider>
    <app-lodable-content
      [isLoading]="isLoading">

      <div class="lodableContent">
        <div class="MovieAdvancedInfo_IframeContainer" *ngIf="movieInfo?.content">
          <iframe class="MovieAdvancedInfo_Iframe"
            title="Inline Frame Example"
            [src]="iframeUrl"
            frameborder="0"
            autoplay
            gyroscope
            allowfullscreen>
          </iframe>
        </div>

        <mat-divider class="app-divider"></mat-divider>

        <div class="MovieAdvancedInfo_GenreContainer">
          <div *ngFor="let genre of movieInfo?.content?.genres" class="MovieAdvancedInfo_Genre">
            <button  mat-raised-button class="app-button app-border">
              {{genre.name}}
            </button>
          </div>
        </div>

        <mat-divider class="app-divider"></mat-divider>

        <div class="MovieAdvancedInfo_SimilarMoviesContainer" *ngIf="movieInfo?.content">
          <app-carrousel
              [movies]= "movieInfo?.content?.similar"
          >
          </app-carrousel>
        </div>

        <mat-divider class="app-divider"></mat-divider>
      </div>
      
    </app-lodable-content>
  </div>
</div>
