:host {
  height: 100%;
  width: 100%;
}

.TopRatedMovieSearch_MainContainer {
  height: 100%;
  flex-direction: column;
  box-sizing: border-box;

  display: flex;
  place-content: flex-start;
  align-items: center;
  flex: 1 1 100%;
}

.TopRatedMovieSearch_MovieBasicInfoElement {
  width: 100%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;

  display: flex;
  place-content: center;
}

@media (min-width: 1000px) {
  .TopRatedMovieSearch_MovieBasicInfoElement {
    width: 49%;
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
}