:host {
    width: 100%;
}

.mat-menu-item{
  cursor: auto;
}

.NavMenu_MainContainer{
  height: 100%;
  flex-direction: row;
  display: flex;
  place-content: space-around;
  align-items: center;
  flex: 1 1 100%;
}
