<div class="NavMenu_MainContainer" fxLayout="row" fxLayoutAlign="space-around center" fxFlex="100">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="profile">
      <mat-icon>account_circle</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="settings">
      <mat-icon>dialpad</mat-icon>
      <span>settings</span>
    </button>
  </mat-menu>

  <mat-menu #profile="matMenu">
    <button mat-menu-item>Log out</button>
  </mat-menu>

  <mat-menu #settings="matMenu">
    <button mat-menu-item>User settings</button>
    <button mat-menu-item>Group settings</button>
  </mat-menu>

</div>
