<body>
  <!-- <div fxLayout="column" fxLayoutAlign="space-around center" fxFlex="100"> 
    <div fxLayout="row" fxLayoutAlign="space-around center" fxFlex="50">
      <app-nav-bar></app-nav-bar>
    </div>
    <div class="container" fxLayout="row" fxLayoutAlign="space-around center" fxFlex="50"> 
      <router-outlet></router-outlet>
    </div>
  </div> -->

  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <div fxFlex="20%">
      <img mat-card-image class="img" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/8V46UZCS0V.jpg">
    </div>
    <div fxFlex="20%">
      <img mat-card-image class="img" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/LTLE4QGRVQ.jpg">
    </div>
    <div fxFlex="20%">
      <img mat-card-image class="img" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/R926LU1YEA.jpg">
    </div>
    <div fxFlex="20%">
      <img mat-card-image class="img" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/U9PP3KXXY2.jpg">
    </div>
  </div>
</body>
