<div class="Home_MainContainer">
  <div class="Home_ModuleSelectorContainer">
    <div class="Home_SearchSelector app-text-normal">
      <mat-form-field appearance="outline">
        <mat-label>SearchType</mat-label>
        <mat-select [(ngModel)]="selectedSearch" ngDefaultControl required>
          <mat-option [value]="searchTypes.FilterSearch">Filter Search</mat-option>
          <mat-option [value]="searchTypes.TopRatedMovieSearch">Top Rated Movies</mat-option>
          <mat-option [value]="searchTypes.GenreMovieSearch">Genre Movies</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <mat-divider class="app-divider"></mat-divider>
  <div class="Home_ModuleContent" [ngSwitch]="selectedSearch">
    <div class="Home_SearchContent" *ngSwitchCase="0">
    </div>
    <div class="Home_SearchContent" *ngSwitchCase="1">
      <app-topRatedMovieSearch></app-topRatedMovieSearch>
    </div>
    <div class="Home_SearchContent" *ngSwitchCase="2">
      <app-genreMovieSearch></app-genreMovieSearch>
    </div>
  </div>
</div>
