.Home_MainContainer{

}
:host{
  height: 100%;
  width: 100%;
}
.Home_ModuleContent{
  margin-top: 1%;
  height: 100%;
}
.Home_ModuleSelector{
  margin-top: 1%;
  width: 100%;
}

.searchSelector{
  text-align: center;
}
.searchContent{
  overflow: hidden;
  width: 100%;
}
