html{
  height: 100%;
}

:root{
  body{
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }

  .app-textHeader{
    color: var(--text-tittle-colour);
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
    font-size: 90%;
  }
  .app-text-big{
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
    font-size:80%;
  }

  .app-text-normal{
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
    font-size:70%;
  }

  .app-text-small{
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
    font-size:60%;
  }

  .app-button{
    color: var(--text-small-colour);
    background-color: var(--app-background-color);
    width: fit-content;
  }

  .app-border{
    border-style: solid;
    border-width: thin;
  }

  .app-primary-accent-button-colour{
    color: var(--text-tittle-accent-contrast-colour);
    background-color: var(--app-primary-accent-colour);
    width: fit-content;
  }

 .app-secondary-accent-button-colour{
    color: var(--text-tittle-accent-contrast-colour);
    background-color: var(--app-secondary-accent-colour);
    width: fit-content;
 }

  .app-primary-button-colour{
    color: var(--text-tittle-contrast-colour);
    background-color: var(--app-primary-colour);
    width: fit-content;
  }

  .app-secondary-button-colour{
    color: var(--text-tittle-contrast-colour);
    background-color: var(--app-secondary-colour);
    width: fit-content;
  }
}

div { width: 100%; }


