/* You can add global styles to this file, and also import other style files */
/* Provide sufficient contrast against white background */

.btn-primary {
  color: var(--text-small-constrast-colour);
  background-color: var(--app-primary-colour);
  border-color: var(--app-primary-colour);
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
